* {
    text-decoration: none;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2vw;
}

footer li {
    display: inline-block;
    padding: 0px 20px;
}

footer li:hover {
    opacity: 0.5;
}


#etsy-store-text {
    color: orangered;
}