

body {
    background-color: #e7e9ec;
}

main {
    display: grid;
    gap: 10px 10px;
    margin-top: 60px;
    grid-template: 1fr 2fr 2fr / 1fr 1fr;
        width: 96%;
        margin-left: 2%;
}


section h2 {
    font-size: 2.5vw;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.75vw;
    text-align: center;
}

#mainTitle {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

#mainTitle h1 {
    font-size: 3vw;
}

#mainTitle h2 {
    margin-top: 10px;
    font-size: 2.5vw;
}

h2 {
        font-size: 2.5vw;
}

/* .homeSection {
    border: solid 1px black;
} */

#az-tutorials {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#az-tutorials p {
    width: 90%;
    margin-left: 5%;
    align-content: center;
}


#homeSetUpPic {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homeSetUpPic div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeSetUpPic p {
    width: 45%;
}

#homeSetUpPic img {
    margin-left: 2%;
    width: 25%;
    border: solid 1px black;
}






#homeYoutubeSection {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#homeYoutubeSection div {
    display: flex;
    justify-items: center;
}

#homeYoutubeSection img {
    width: 4vw;
}

#homeYoutubeSection h2 {
margin-left: 10px;
}

#homeYoutubeSection p {
    background-color: #ff0000;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 90%;
    height: 90%;
}






#homeScoreboardSection {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homeScoreboards {
    background-color: #666769;
    width: 90%;
    margin-left: 5%;
    height: 90%;
    border-radius: 25px;
    padding: 10px;
}

#homeScoreboards p {
    color: white;
    margin-bottom: 10px;
    margin-top: -10px;
}

#player-1-2-scoreboard {
    color: white;
    text-align: center;
}

.scoreboardButtons {
    border-radius: 7px;
        padding: 2px 5px;
        font-size: 1.25vw;
    }


/* #homeScoreboards button {

} */

#homeScoreboards label {
        font-size: 1.5vw;
    }

#resetButton {
    border-radius: 7px;
    padding: 2px 20px;
    font-size: 1vw;
}






#homeOhShootSection {
    display: flex;
        width: 94%;
        margin-left: 2%;
        margin-top: 10px;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        padding: 10px;
        background-image: linear-gradient(to right, #cdffd8, #94b9ff);
    border-radius: 25px;
        border: solid 2px black;
    }
    
#oh-shoot-center {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    
#oh-shoot-center-cards {
        /* background-color: green; */
        display: flex;
        justify-content: space-evenly;
        max-height: 30%;
}

.oh-shoot-cards {
    margin-top: 10px;
        width: 21%;
    }
    
.oh-shoot-hands {
    max-width: 20%;
    height: 80%;
}

@media only screen and (max-width: 815px) {
    main {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
    }

    #homeSetUpPic img {
        width: 100px;
    }

        #homeScoreboards p {
            margin-bottom: 10px;
            margin-top: 5px;
        }

#homeOhShootSection {
    display: flex;
    width: 76%;
    margin-left: 10%;
    max-height: 150px;
}

.oh-shoot-hands {
    max-width: 15%;
    max-height: 80%;
}
}
