

body {
    background-color: #e7e9ec;
}

.mainTitle {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

main {
    margin-top: 60px;
    /* display: flex; */
    /* flex-direction: column; */
}



section {
    margin: 10px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.25rem;
    text-align: center;
}

.homeSection {
border: solid 1px black;
width: 40%;
}

#homeSetUpPic div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#homeSetUpPic p {
    width: 45%;
}

#homeSetUpPic img {
    width: 45%;
    border: solid 1px black;
}

#homeYoutubeSection div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeYoutubeSection h2 {
margin-left: 10px;
}

#homeYoutubeSection p {
    background-color: #ff0000;
    border-radius: 25px;
    padding: 7px;
}

/* #homeScoreboardSection {
    background-color: #666769;
} */

#homeScoreboardSection div {
    background-color: #666769;
    /* padding: 20px; */
    border-radius: 25px;
}


#homeOhShootSection {
background-image: linear-gradient(to right, #cdffd8, #94b9ff);
}
