*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* This pads the a-z hyperlinks,
making the nav bar not appear over the table heads when clicked */
html {
    scroll-padding-top: 5rem;
}

.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.inner_header{
    padding-left: 30px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 3vw;
    font-weight: 200;
}

.logo_container a {
    color: white;
}

.logo_container a:hover {
    opacity: 0.5;
}

.donate_button {
    color: #65ff00;
    padding: 2px 2px;
    padding-right: 35px;
}

.logo_container h1 span {
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child { padding-right: 0; }
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 2vw;
}

.navigation a li:hover {
    opacity: 0.5;
}
/* Above is the CSS for the header */




/* Below is the CSS for index.html (home page)*/

        /* Welcome to practical gaming center */
 .main {
    position: relative;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 45px;
}


        /*The online library of game tutorials */
        .mainsub {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
} 

        /*  Home page: A-Z tutorial section below  */

        /* When I add ads to this, derease the width of the text to fit the ads on the side*/

.home_page p {
    font-size: 25px;
}

.home_page h2 {
    font-size: 37px;
}
div.home_tutorials{
    width: 75%;
text-align: center;
margin: auto;
}

div.home_tutorials h2{
    padding-bottom: 20px;
    font-size: 40px;
    text-decoration-line: underline;
}

div.home_tutorials h2:hover {
   opacity: 0.5;
}

div.home_tutorials img {
    width: 40%;
}

        /* Home Page: Digital Gaming Center ad below */

div.digital_gaming_center {
    padding-top: 80px;
    width: 75%;
    text-align: center;
    margin: auto;
}

div.digital_gaming_center img {
    width: 40%;
    padding-top: 10;
    padding-bottom: 20px;
}

div.digital_gaming_center h2 {
    padding-bottom: 20px;
    font-size: 40px;
    text-decoration: underline;
}

div.digital_gaming_center a:hover{
    color: orangered
}


.click_here{
    text-decoration: underline;
}

.click_here:hover {
    opacity: 0.5;
}

.shop {
    padding-top: 80px;
}

.game{
    padding-top: 100px;
    text-align: center;
}

/* CSS for index.html page above */










/* CSS for aztutorials.html page below */

 .aztutorials {
     position: relative;
     margin-top: 80px;
     text-align: center;
     padding-top: 40px;
     padding-bottom: 20px;
 }

 .grow_the_library {
     width: 75%;
     text-align: center;
     margin: auto;
 }

  .aztutorials p {
      width: 100%;
      text-align: center;
      margin: auto;
      font-size: 25px;
  }

 .aztutorials h1 {
     font-size: 45px;
 }

 .aztutorials h2 {
     font-size: 40px;
 }

 .aztutorials h3 {
     font-size: 35px;
 }

.aztutorials li {
    font-size: 25px;
}


#a-z_bar {
    width: 100%;
}


        /*DATA TABLE BELOW */
.content_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 25px;
        min-width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content_table a:hover{
font-size: 125%;
}

.content_table th:first-child {
    width: 0%;
    font-size: 35px;
}

.content_table th:nth-child(2) {
width: 30%;
text-align: left;
}

.content_table td {
    padding: 12px 15px;
}

.content_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table_head {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

.table_letter {
    font-weight: bold;
}

.hyper_linked_letters {
    text-decoration: underline;
}

/*below is to make every other row gray */
/* .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
} */

/* .content-table tbody tr:last-of-type{
    border-bottom: 2px solid green;
} */

        /*DATA TABLE ABOVE*/

/* CSS for aztutorials.html page above*/










/* CSS for tutorial page template/ article pages below */ 



.tutorial_pics {
    height: 450px;
    width: 600px;
        padding: 10px;
}

.game figcaption {
    width: 600px;
    text-align: center;
    margin: auto;
}

.game .pseo {
    width: 75%;
        text-align: center;
        margin: auto;
        font-size: 25px;
}

.game p {
    width: 75%;
    text-align: left;
    margin: auto;
    font-size: 25px;
    padding: 10px;
}

.game h1 {
    font-size: 45px;
        padding: 10px;
}

.game h2 {
font-size: 40px;
        padding: 10px;
}

.game h3 {
    font-size: 35px;
    text-align: left;
    margin: auto;
    width: 75%;
            padding: 10px;
}

.game h4 {
    font-size: 30px;
    text-align: left;
    margin: auto;
    width: 75%;
            padding: 10px;
}

.game .game_play_list {
font-size: 25px;    
text-align: left;
margin: auto;
width: 75%;
}

.game ul li {
padding: 10px 0;
}

.game .card_value {
    font-size: 25px;
    text-align: left;
    margin: auto;
    width: 75%;
}
#delete{
    color: red;
}

.game .type_players_supplies{
width: 75%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.variant_link {
    text-decoration: underline;
}

.variant_link:hover {
opacity: 0.5;
}

/* CSS for tutorial page template above */










/* Below is CSS for Scoreboards */


.ninetyNine_scoreboard{
    display: block;
    text-align: center;
    touch-action: manipulation;
}

.ninetyNine_scoreboard h3 {
    font-size: 25px;
    padding-top: 20px;
}

#ninetyNine_countLabel{
font-size: 250px;
padding-bottom: 100px;
}

.ninetyNine_scoreboard button{
    width: 12%;
    padding: 50px 10px;
    font-size: 23px;
    border-radius: 12px;
}

.kingsinthecorner_scoreboard {
touch-action: manipulation;
    display: block;
    text-align: center;
}

.kingsinthecorner_scoreboard h3 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* rummy500 Below*/

.rummy500_scoreboard{
    touch-action: manipulation;
    display: block;
        text-align: center;
}

.rummy500_scoreboard h3 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.rummy500_scoreboard button{
width: 8%;
    font-size: 20px;
    border-radius: 12px;
    padding: 20px 10px;
}

.rummy500_scoreboard label {
    padding: 10px 10px;
    font-size: 30px;
    
}

.rummy500_scoreboard input {
font-size: 20px;
max-width: 18%;
}
#rummy500_resetBtn {
    width: 20%;
}




/* Above is CSS for Scoreboards */









/* Below is the CSS for the contact page */


.contact_page p {
    font-size: 25px;
}

.contact_page h1 {
    font-size: 45px;
}

.contact_page h2 {
    font-size: 40px;
}

.contact_page h3 {
    font-size: 35px;
}

.contact_page li {
    font-size: 25px;
}


.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.hero form {
    background: #d3d3d3;
    width: 80%;
    height: 100%;
    padding: 30px;
    font-size: 18px;
    border: #000;
    border-radius: 100px;
}

.message_icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message_icon i {
    font-size: 40px;
}

.message_icon span {
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}


.hero form input,
textarea {
    width: 100%;
        font-size: 25px;
}

#input-field {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#input-field i {
    font-size: 22px;
    margin-right: 15px;
}

.send_btn {
    width: 100px;
    border: none;
    background: #000;
    color: white;
    font-size: 16px;
    padding: 6px 0;
    border-radius: 100px;
}

.send_btn:hover {
    font-size: 115%;
}


/* Above is the CSS for the contact page */




/* CSS for the email subscribe form below */

.email_subscribe_form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.email_subscribe_form form {
    background-color: lightgray;
    padding: 10px 10px;
        box-shadow: 10px 10px 8px #888888;
    border: 5px solid black;

}

.sub_form h2 {
text-decoration: underline;
display: flex;
justify-content: center;
font-size: 3vw;
}

.newsPaper {
    display: inline-flex;
    align-items: center;
        justify-content: center;
}

.newsPaper img {
    height: 150px;
    width: 200px;
    max-width: 33%;
}


.sub_form p {
    font-size: 2vw;
}

.sub_form li {
    display: table;
    float: left;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 2vw;
   
}



#sign_up_btn {
    border: 2px black;
    border-radius: 16px;
    font-size: 1.5vw;
    padding: 3px 3px;
        box-shadow: 5px 5px 8px #888888 inset;
border: 1px solid black;
}

#sign_up_btn:hover {
cursor: pointer;
opacity: 0.5;
}



/* CSS for the email subscribe form Above */







/* CSS for the footer below */

/* footer {
    margin-bottom: 5px;
}

footer ul {
    text-align: center;
    font-size: 30px;
}

footer li {
    height: 100%;
    display: inline-block;
    padding: 0px 20px;
}

#footer_etsy {
    color: orangered;
    padding: 15px 10px;
}

#footer_etsy:hover {
    opacity: 0.5;
}

#etsyStoreText{
    color: orangered;
}

#footer_donate {
    color: #101010;
    background-color: #65ff00;;
    padding: 5px 20px;
    font-size: 30px;
    border: 5px double;
    border-radius: 50px;
}

#donateBtnText {
    color: #101010;
}

#footer_donate:hover {
    color: #65ff00;
    background-color: #101010;
    border: #101010 solid 1px;
    cursor: pointer;
    border: 5px double;
}

#footer_contact:hover {
    opacity: 0.5;
} */

/* CSS for the footer above */



