* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Below is for the rules box */
/* ////////////////////////// */

/* CSS to hide original labels for game */
#original-labels {
    display: none;
}

#rulesTitle {
    display: none;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 60px;
    margin-bottom: 10px;
}

#rulesBox {
    display: none;
    justify-content: space-around;
}

#rulesBox p {
    font-size: 1em;
}


#ruleSectionLeft {
    margin: auto;
    display: flex;
    width: 30%;
    /* background-color: red; */
    flex-direction: column;
}

.ruleSectionLeftBoxs {
    display: flex;
    align-items: center;
    text-align: center;
    /* background-color: blue; */
}

.ruleSectionLeftBoxs p {
    width: 66%;
    /* background-color: yellow; */
}

.ruleSectionLeftBoxs img {
    width: 33%;
}



#ruleSectionRight {
    margin: auto;
    display: flex;
    width: 60%;
    flex-direction: column;
    /* background-color: pink; */
}

#ruleSectionRight h1 {
    font-size: 25px;
    text-align: center;
}

#ruleSectionRight h2 {
    font-size: 20px;
}

.rulesSRCards {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px;
    container-type: inline-size;
}


.rulesSRCards h2 {
    width: 15%;
    align-items: center;
    text-align: center;
}





.normalRulesP {
    padding-top: 10px;
    text-align: center;
}



#rulesPlayerCards {
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    /* background-color: green; */
}

#rulesPlayerCards img {
    width: 18%;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* above is for the rules box */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#gradient {
    background-image: linear-gradient(to right, #cdffd8, #94b9ff);
}

#ohShootTitle {
    margin-top: 80px;
    text-align: center;
}


#main {
    /* margin-top: 80px; */
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    max-height: 300px;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* background-color: orangered; */
}

.mainYourCard {
    min-width: 12%;
    max-width: 12%;
    padding: 10px 15px;
    /* background-color: blueviolet; */
}

.mainYou {
    min-width: 16%;
    max-width: 16%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
    /* align-content: space-between */
}

#leftBullet {
    height: 30%;
    width: 80%;
}

#leftCylinder {
    height: 30%;
    width: 50%;
}


/* .mainYouCard.img {
   max-height: 100%;
    max-width: 42%;
} */

.mainMenu {
    padding: 40px;
    min-width: 32%;
    max-width: 32%;
    text-align: center;
    /* background-color: orange; */
}

.movesMade {
    margin-top: 5px;
    font-size: 20px;
}

.modeButtons {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30%;
    padding: 5px;
    background-color: grey;
    color: white;
    font-size: 15px;
    border: 2px solid black;
}

.modeButtons:hover {
    cursor: pointer;
}


.modeButtons:hover {
    padding: 5px 7px;
}

#easyButton {
    background-color: orange;
}


#mediumButton {
    background-color: grey;
}


/* 
#easyButton:hover {
padding: 5px 7px;
}

#mediumButton:hover {
padding: 5px 7px;
} */

.comments {
    font-size: 20px;
}

.mainEnemy {
    min-width: 16%;
    max-width: 16%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

#rightBullet {
    height: 30%;
    width: 80%;
}

#rightCylinder {
    height: 30%;
    width: 50%;
}

.mainEnemyCard {
    min-width: 12%;
    max-width: 12%;
    padding: 10px 15px;
    /* background-color: green; */
}

h2 {
    font-size: 30px;
}

.playerEnemyChoice {
    font-size: 20px;
}


#playerCards {
    display: flex;
    justify-content: center;
    height: 150px;
}


.actionCard:hover {
    opacity: 60%;
    cursor: pointer;
}

/* Above is the CSS for the cards */
/*/////////////////////////////////////////////////////*/
/* Below is the CSS for the rules*/

.rules {
    margin-top: 10px;
    text-align: center;
}