<div class="footer">
    <ul>

        <a rel="nofollow" rel="sponsored" target="_blank"
            href="https://www.etsy.com/shop/DigitalGamingCenter?coupon=HALFOFF">
            <li class="footer_etsy">Etsy Store</li>
        </a>
        <a rel="nofollow" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=3R6SK3PHRWMT8">
            <button>
                <li class="footer_donate">DONATE</li>
            </button>
        </a>
        <a href="contact.html">
            <li class="footer_contact">Contact</li><a>
    </ul>
    <li class="bottom_of_page"></li>

</div>