<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1><a href="../index.html">Practical<span>GamingCenter</span></a></h1>

        </div>
        <ul class="navigation">
            <a href="index.html">
                <li>Home</li>
            </a>
            <a href="aztutorials.html">
                <li>A-Z Tutorials</li>
            </a>
            <a rel="nofollow" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=3R6SK3PHRWMT8">
                <li><span class="donate_button">DONATE</span></li>
            </a>
            <li></li>
            <!-- <a href="shop.html">
                    <li>Shop</li>
                </a> -->
        </ul>
    </div>
</div>